<ActionBar>
    <NavigationButton icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label text="Nova Nota"></Label>
    <ActionItem icon="font://&#xf058;" style="font-size:13px;" class="far" (tap)="onCreate()"></ActionItem>
</ActionBar>

<ScrollView>
    <StackLayout borderColor="rgba(00,00,00,0.5)" class="card-layout">
        <CardView class="card" elevation="40" radius="10">
            <FlexboxLayout style="width:100%;margin:10 15" flexDirection="column">
                <FlexboxLayout flexDirection="row">
                    <FlexboxLayout style="width:90%" flexDirection="column">
                        <Label class="fas" style="font-size: 16px;" text="Título"></Label>
                        <TextField hint="..." class="title" [(ngModel)]='title' returnKeyType="done">
                        </TextField>
                    </FlexboxLayout>
                    <StackLayout style="vertical-align: middle;">
                        <Label *ngIf="isFavorite" class="fas" style="font-size: 24px;" text="&#xf005;" (tap)="toggleFavorite()"></Label>
                        <Label *ngIf="!isFavorite" class="far" style="font-size: 24px;" text="&#xf005;" (tap)="toggleFavorite()"></Label>
                    </StackLayout>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="column">
                    <Label class="fas" style="font-size: 16px;" text="Anotação"></Label>
                    <TextView hint="..." class="content" [(ngModel)]='content' returnKeyType="done">
                    </TextView>
                </FlexboxLayout>
            </FlexboxLayout>
        </CardView>
    </StackLayout>
</ScrollView>