* {
  border: 1px solid red;
}
.card {
    background-color: antiquewhite;
    color: #4d4d4d;
    margin: 15 15 0;
}
.card-layout {
    padding: 10 15;
}
.card-layout .preview {
  padding-left: 10;
  font-size: 16px;
}

.title-box {
  justify-content:space-between;
}
.navbar-icon {
  vertical-align: middle;
  margin:auto;
  font-size: 10px;
}